In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ipywidgets as widgets

In [2]:
data = pd.read_csv('../data/revised_weather.csv')

In [3]:
import plotly.express as px
wind = px.data.wind()

In [4]:
wind_directions = {
    11.25: "N",
    33.75: "NNE",
    56.25: "NE",
    78.75: "ENE",
    101.25: "E",
    123.75: "ESE",
    146.25: "SE",
    168.75: "SSE",
    191.25: "S",
    213.75: "SSW",
    236.25: "SW",
    258.75: "WSW",
    281.25: "W",
    303.75: "WNW",
    326.25: "NW",
    348.75: "NNW"
}

In [5]:
def cardinal_direction(wind_deg):
    if wind_deg <= 11.25 or wind_deg > 348.75:
        return 'N'
    elif 11.25 < wind_deg <= 33.75:
        return 'NNE'
    elif 33.75 < wind_deg <= 56.25:
        return 'NE'
    elif 56.25 < wind_deg <= 78.75:
        return 'ENE'
    elif 78.75 < wind_deg <= 101.25:
        return 'E'
    elif 101.25 < wind_deg <= 123.75:
        return 'ESE'
    elif 123.75 < wind_deg <= 146.25:
        return 'SE'
    elif 146.25 < wind_deg <= 168.75:
        return 'SSE'
    elif 168.75 < wind_deg <= 191.25:
        return 'S'
    elif 191.25 < wind_deg <= 213.75:
        return 'SSW'
    elif 213.75 < wind_deg <= 236.25:
        return 'SW'
    elif 236.25 < wind_deg <= 258.75:
        return 'WSW'
    elif 258.75 < wind_deg <= 281.25:
        return 'W'
    elif 281.75 < wind_deg <= 303.75:
        return 'WNW'
    elif 303.75 < wind_deg <= 326.25:
        return 'NW'
    elif 326.25 < wind_deg <= 348.75:
        return 'NNW'
    else:
        return 'Not Found'

In [12]:
data['wind_card'] = data['wind_deg'].apply(cardinal_direction)

In [13]:
data

,dt,temp,feels_like,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all,weather_main,weather_description,month,year,day,hour,wind_card
0,1978-12-31 20:00:00,51.49,50.86,1015,96,12.91,176,NaN,NaN,100,Clouds,overcast clouds,12,1978,31,20,S
1,1978-12-31 21:00:00,51.55,50.92,1014,96,14.00,178,NaN,NaN,100,Clouds,overcast clouds,12,1978,31,21,S
2,1978-12-31 22:00:00,51.67,51.06,1014,96,14.81,185,NaN,NaN,100,Clouds,overcast clouds,12,1978,31,22,S
3,1978-12-31 23:00:00,54.54,53.96,1013,91,16.02,186,NaN,NaN,100,Clouds,overcast clouds,12,1978,31,23,S
4,1979-01-01 00:00:00,54.57,53.96,1013,90,16.13,187,NaN,NaN,100,Clouds,overcast clouds,1,1979,1,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373459,2021-08-08 15:00:00,85.62,91.08,1017,62,6.53,213,NaN,NaN,0,Clear,sky is clear,8,2021,8,15,SSW
373460,2021-08-08 16:00:00,86.13,95.38,1016,70,5.26,229,NaN,NaN,62,Clouds,broken clouds,8,2021,8,16,SW
373461,2021-08-08 17:00:00,86.07,93.15,1016,65,5.26,229,NaN,NaN,62,Clouds,broken clouds,8,2021,8,17,SW
373462,2021-08-08 18:00:00,85.78,92.91,1016,66,5.26,229,NaN,NaN,62,Clouds,broken clouds,8,2021,8,18,SW
373463,2021-08-08 19:00:00,83.35,88.00,1016,66,4.34,153,NaN,NaN,0,Clear,sky is clear,8,2021,8,19,SSE